/* jrPhotoPro Profile Page CSS */

/* @title Profile Menu */
/* @help This is the Profile menu */
.profile_menu {
    margin:0;
    background-color:transparent;
    padding:0 12px 6px 12px;
}

/* @title Profile Menu Entry */
/* @help This is the Profile menu entries */
.profile_menu_entry {
    display:inline-block;
    text-transform:capitalize;
    margin-top:6px;
    margin-right:6px;
    padding:9px;
    color:#000000;
    font-size:14px;
    font-weight:bold;
    border:1px solid #AAAAAA;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#CCCCCC');
    background: -ms-linear-gradient(top, #FFFFFF 1%, #CCCCCC 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#CCCCCC));
    background: -moz-linear-gradient(top,#ffffff,#CCCCCC);
    border-radius:5px;
    cursor:pointer;
}

/* @title Menu Entry Link */
/* @help This is the menu entry URL link */
.profile_menu_entry a {
    color:#000000;
}

/* @title Menu Link Hover */
/* @help This is the menu entry URL link hover effect */
.profile_menu_entry:hover {
    border:1px solid #666666;
    box-shadow:inset 0 0 1px 1px #777777;
}

/* @title Menu Entry Active */
/* @help This is the menu entry active state */
.profile_menu_entry_active {
    /* background-color:#EEEEEE; */
    border:1px solid #083308;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1D9B1D', endColorstr='#083308') !important;
    background: -ms-linear-gradient(top, #1D9B1D 1%, #083308 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#1D9B1D), to(#083308)) !important;
    background: -moz-linear-gradient(top,#1D9B1D,#083308) !important;
    color:#EDEDED;
}
.profile_menu_entry_active:hover {
    border:1px solid #083308;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1D9B1D', endColorstr='#083308') !important;
    background: -ms-linear-gradient(top, #1D9B1D 1%, #083308 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#1D9B1D), to(#083308)) !important;
    background: -moz-linear-gradient(top,#1D9B1D,#083308) !important;
    color:#FFFFFF;
}

/* @title Profile Name Box */
/* @help This is the box that the Profile Name text is in */
.profile_name_box {
    background-color:#333;
    vertical-align:middle;
    text-transform:capitalize;
    padding:12px;
    margin:12px;
    border-radius: 4px;
}
/* @title Profile Name */
/* @help This is the Profile Name text */
.profile_name {
	text-transform:capitalize;
	font-size:28px;
	font-weight:bold;
    color:#FFFFFF;
}
/* @title Profile Link */
/* @help This is the Profile Name URL link */
.profile_name a {
    text-decoration:none;
}
/* @title Profile Link Hover */
/* @help This is the Profile Name link hover effect */
.profile_name a:hover {
    text-decoration:none;
}

.profile_actions {
    float:right;
    vertical-align:middle;
    text-align:right;
}

.profile_image {
    position: relative;
}
.profile_hoverimage {
    background-color:#333333;
    position:absolute;
    top:15px;
    left:15px;
    padding:6px;
    border:1px solid #aaa;
    border-radius: 8px;
    display: none;
    opacity: 0.8;
}
.profile_hoverimage a {
    text-decoration:none;
}
.profile_hoverimage a:hover {
    text-decoration:none;
}
.profile_image:hover .profile_hoverimage {
    display:block;
    cursor:pointer;
}

.stat_entry_box {
    float:left;
    border:1px solid #AAAAAA;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#CCCCCC');
    background: -ms-linear-gradient(top, #FFFFFF 1%, #CCCCCC 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#CCCCCC));
    background: -moz-linear-gradient(top,#ffffff,#CCCCCC);
    border-radius:4px;
    padding:3px 9px;
    margin:6px 6px 0 0;
    font-size:12px;
    text-transform:uppercase;
}
.stat_entry_box a {
    color:#000;
    text-decoration:none;
}
.stat_entry_box:hover {
    border:1px solid #666666;
    box-shadow:inset 0 0 1px 1px #777777;
}
.stat_entry_box {
    color:#000;
}
.stat_entry_count {
    font-weight:bold;
}

.online_status_table {
    background-color:#333;
    display:table;
    width:95%;
    border-radius: 4px;
}

/* @title Online Status Image */
/* @help Cell class for image area in Online Status for an individual User */
.online_status_image {
    background-color: transparent;
    display:table-cell;
    width:10%;
}

/* @title Online Status User */
/* @help Cell class for user name area in Online Status for an individual User */
.online_status_user {
    display:table-cell;
    width:80%;
    vertical-align:middle;
}

/* @title Online Status User Anchor */
/* @help Cell class for user name area in Online Status for an individual User */
.online_status_user a {
    color:#EDEDED;
}

/* @title User is Online */
/* @help Class for small ONLINE box that shows when the user is actually online */
.online_status_online {
    background-color:transparent;
    color:#1D9B1D;
    padding:6px;
    margin:10px;
    display:inline-block;
    width:100%;
}

/* @title User is Offline */
/* @help Class for small OFFLINE box that shows when the user is not online */
.online_status_offline {
    background-color:transparent;
    color:#EDEDED;
    padding:4px;
    display:inline-block;
    width:100%;
}

