.sprite_icon_white_18{display:inline-block;width:18px;height:18px;}
.sprite_icon_white_18_img{background:url('//jr5.paradigmusic.com/data/media/0/0/kmParadigmDark_sprite_white_18.png?_v=1492059166') no-repeat top left; height:100%;width:100%;}
.sprite_icon_white_18_at{background-position:0 0}
.sprite_icon_white_18_chat-close{background-position:-18px 0}
.sprite_icon_white_18_chat-contact{background-position:-36px 0}
.sprite_icon_white_18_chat-contract{background-position:-54px 0}
.sprite_icon_white_18_chat-down{background-position:-72px 0}
.sprite_icon_white_18_chat-expand{background-position:-90px 0}
.sprite_icon_white_18_chat-open{background-position:-108px 0}
.sprite_icon_white_18_chat-popout{background-position:-126px 0}
.sprite_icon_white_18_arrow-down{background-position:-144px 0}
.sprite_icon_white_18_arrow-left{background-position:-162px 0}
.sprite_icon_white_18_arrow-right{background-position:-180px 0}
.sprite_icon_white_18_arrow-up{background-position:-198px 0}
.sprite_icon_white_18_attach{background-position:-216px 0}
.sprite_icon_white_18_brush{background-position:-234px 0}
.sprite_icon_white_18_bundle{background-position:-252px 0}
.sprite_icon_white_18_camera{background-position:-270px 0}
.sprite_icon_white_18_cancel{background-position:-288px 0}
.sprite_icon_white_18_cart{background-position:-306px 0}
.sprite_icon_white_18_chart{background-position:-324px 0}
.sprite_icon_white_18_close{background-position:-342px 0}
.sprite_icon_white_18_download{background-position:-360px 0}
.sprite_icon_white_18_gear{background-position:-378px 0}
.sprite_icon_white_18_gears{background-position:-396px 0}
.sprite_icon_white_18_globe{background-position:-414px 0}
.sprite_icon_white_18_hand{background-position:-432px 0}
.sprite_icon_white_18_headphone{background-position:-450px 0}
.sprite_icon_white_18_info{background-position:-468px 0}
.sprite_icon_white_18_key{background-position:-486px 0}
.sprite_icon_white_18_light{background-position:-504px 0}
.sprite_icon_white_18_link{background-position:-522px 0}
.sprite_icon_white_18_lock{background-position:-540px 0}
.sprite_icon_white_18_male{background-position:-558px 0}
.sprite_icon_white_18_music{background-position:-576px 0}
.sprite_icon_white_18_next{background-position:-594px 0}
.sprite_icon_white_18_ok{background-position:-612px 0}
.sprite_icon_white_18_pen{background-position:-630px 0}
.sprite_icon_white_18_pen2{background-position:-648px 0}
.sprite_icon_white_18_play{background-position:-666px 0}
.sprite_icon_white_18_plus{background-position:-684px 0}
.sprite_icon_white_18_pointer{background-position:-702px 0}
.sprite_icon_white_18_previous{background-position:-720px 0}
.sprite_icon_white_18_question{background-position:-738px 0}
.sprite_icon_white_18_quote{background-position:-756px 0}
.sprite_icon_white_18_record{background-position:-774px 0}
.sprite_icon_white_18_redo{background-position:-792px 0}
.sprite_icon_white_18_refresh{background-position:-810px 0}
.sprite_icon_white_18_ring{background-position:-828px 0}
.sprite_icon_white_18_rss{background-position:-846px 0}
.sprite_icon_white_18_search{background-position:-864px 0}
.sprite_icon_white_18_search2{background-position:-882px 0}
.sprite_icon_white_18_settings{background-position:-900px 0}
.sprite_icon_white_18_site{background-position:-918px 0}
.sprite_icon_white_18_star-empty{background-position:-936px 0}
.sprite_icon_white_18_star{background-position:-954px 0}
.sprite_icon_white_18_star2{background-position:-972px 0}
.sprite_icon_white_18_star3{background-position:-990px 0}
.sprite_icon_white_18_stats{background-position:-1008px 0}
.sprite_icon_white_18_tag{background-position:-1026px 0}
.sprite_icon_white_18_target{background-position:-1044px 0}
.sprite_icon_white_18_trash{background-position:-1062px 0}
.sprite_icon_white_18_undo{background-position:-1080px 0}
.sprite_icon_white_18_upload{background-position:-1098px 0}
.sprite_icon_white_18_wizard{background-position:-1116px 0}
.sprite_icon_white_18_calendar{background-position:-1134px 0}
.sprite_icon_white_18_sb_clone{background-position:-1152px 0}
.sprite_icon_white_18_smile{background-position:-1170px 0}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 3/2),
screen and (min--moz-device-pixel-ratio: 2),
screen and (min-device-pixel-ratio: 2) {
  .sprite_icon_white_18_img{background:url('//jr5.paradigmusic.com/data/media/0/0/kmParadigmDark_sprite_white_36.png?_v=1492059166') no-repeat top left; height:100%;width:100%;}
  .sprite_icon_white_18_at{background-position:0 0;background-size:1188px 18px}
  .sprite_icon_white_18_chat-close{background-position:-18px 0;background-size:1188px 18px}
  .sprite_icon_white_18_chat-contact{background-position:-36px 0;background-size:1188px 18px}
  .sprite_icon_white_18_chat-contract{background-position:-54px 0;background-size:1188px 18px}
  .sprite_icon_white_18_chat-down{background-position:-72px 0;background-size:1188px 18px}
  .sprite_icon_white_18_chat-expand{background-position:-90px 0;background-size:1188px 18px}
  .sprite_icon_white_18_chat-open{background-position:-108px 0;background-size:1188px 18px}
  .sprite_icon_white_18_chat-popout{background-position:-126px 0;background-size:1188px 18px}
  .sprite_icon_white_18_arrow-down{background-position:-144px 0;background-size:1188px 18px}
  .sprite_icon_white_18_arrow-left{background-position:-162px 0;background-size:1188px 18px}
  .sprite_icon_white_18_arrow-right{background-position:-180px 0;background-size:1188px 18px}
  .sprite_icon_white_18_arrow-up{background-position:-198px 0;background-size:1188px 18px}
  .sprite_icon_white_18_attach{background-position:-216px 0;background-size:1188px 18px}
  .sprite_icon_white_18_brush{background-position:-234px 0;background-size:1188px 18px}
  .sprite_icon_white_18_bundle{background-position:-252px 0;background-size:1188px 18px}
  .sprite_icon_white_18_camera{background-position:-270px 0;background-size:1188px 18px}
  .sprite_icon_white_18_cancel{background-position:-288px 0;background-size:1188px 18px}
  .sprite_icon_white_18_cart{background-position:-306px 0;background-size:1188px 18px}
  .sprite_icon_white_18_chart{background-position:-324px 0;background-size:1188px 18px}
  .sprite_icon_white_18_close{background-position:-342px 0;background-size:1188px 18px}
  .sprite_icon_white_18_download{background-position:-360px 0;background-size:1188px 18px}
  .sprite_icon_white_18_gear{background-position:-378px 0;background-size:1188px 18px}
  .sprite_icon_white_18_gears{background-position:-396px 0;background-size:1188px 18px}
  .sprite_icon_white_18_globe{background-position:-414px 0;background-size:1188px 18px}
  .sprite_icon_white_18_hand{background-position:-432px 0;background-size:1188px 18px}
  .sprite_icon_white_18_headphone{background-position:-450px 0;background-size:1188px 18px}
  .sprite_icon_white_18_info{background-position:-468px 0;background-size:1188px 18px}
  .sprite_icon_white_18_key{background-position:-486px 0;background-size:1188px 18px}
  .sprite_icon_white_18_light{background-position:-504px 0;background-size:1188px 18px}
  .sprite_icon_white_18_link{background-position:-522px 0;background-size:1188px 18px}
  .sprite_icon_white_18_lock{background-position:-540px 0;background-size:1188px 18px}
  .sprite_icon_white_18_male{background-position:-558px 0;background-size:1188px 18px}
  .sprite_icon_white_18_music{background-position:-576px 0;background-size:1188px 18px}
  .sprite_icon_white_18_next{background-position:-594px 0;background-size:1188px 18px}
  .sprite_icon_white_18_ok{background-position:-612px 0;background-size:1188px 18px}
  .sprite_icon_white_18_pen{background-position:-630px 0;background-size:1188px 18px}
  .sprite_icon_white_18_pen2{background-position:-648px 0;background-size:1188px 18px}
  .sprite_icon_white_18_play{background-position:-666px 0;background-size:1188px 18px}
  .sprite_icon_white_18_plus{background-position:-684px 0;background-size:1188px 18px}
  .sprite_icon_white_18_pointer{background-position:-702px 0;background-size:1188px 18px}
  .sprite_icon_white_18_previous{background-position:-720px 0;background-size:1188px 18px}
  .sprite_icon_white_18_question{background-position:-738px 0;background-size:1188px 18px}
  .sprite_icon_white_18_quote{background-position:-756px 0;background-size:1188px 18px}
  .sprite_icon_white_18_record{background-position:-774px 0;background-size:1188px 18px}
  .sprite_icon_white_18_redo{background-position:-792px 0;background-size:1188px 18px}
  .sprite_icon_white_18_refresh{background-position:-810px 0;background-size:1188px 18px}
  .sprite_icon_white_18_ring{background-position:-828px 0;background-size:1188px 18px}
  .sprite_icon_white_18_rss{background-position:-846px 0;background-size:1188px 18px}
  .sprite_icon_white_18_search{background-position:-864px 0;background-size:1188px 18px}
  .sprite_icon_white_18_search2{background-position:-882px 0;background-size:1188px 18px}
  .sprite_icon_white_18_settings{background-position:-900px 0;background-size:1188px 18px}
  .sprite_icon_white_18_site{background-position:-918px 0;background-size:1188px 18px}
  .sprite_icon_white_18_star-empty{background-position:-936px 0;background-size:1188px 18px}
  .sprite_icon_white_18_star{background-position:-954px 0;background-size:1188px 18px}
  .sprite_icon_white_18_star2{background-position:-972px 0;background-size:1188px 18px}
  .sprite_icon_white_18_star3{background-position:-990px 0;background-size:1188px 18px}
  .sprite_icon_white_18_stats{background-position:-1008px 0;background-size:1188px 18px}
  .sprite_icon_white_18_tag{background-position:-1026px 0;background-size:1188px 18px}
  .sprite_icon_white_18_target{background-position:-1044px 0;background-size:1188px 18px}
  .sprite_icon_white_18_trash{background-position:-1062px 0;background-size:1188px 18px}
  .sprite_icon_white_18_undo{background-position:-1080px 0;background-size:1188px 18px}
  .sprite_icon_white_18_upload{background-position:-1098px 0;background-size:1188px 18px}
  .sprite_icon_white_18_wizard{background-position:-1116px 0;background-size:1188px 18px}
  .sprite_icon_white_18_calendar{background-position:-1134px 0;background-size:1188px 18px}
  .sprite_icon_white_18_sb_clone{background-position:-1152px 0;background-size:1188px 18px}
  .sprite_icon_white_18_smile{background-position:-1170px 0;background-size:1188px 18px}
}
